  <% include ./partials/header %>
  <!-- banner -->
  <section class="banner-sec">
    <div class="sgl-pro-outr">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="statickbanner"><img src="frontend/images/home-banner.jpg"></div>
          <div class="item active">
            <!-- <img src="frontend/images/home-banner.jpg" style="width:100%;"> -->
            <div class="intro-text">
              <div class="container">
                <div class="intro-lead-in wow fadeInLeft animated">I want a better income</div>
                <div class="intro-heading wow fadeInRight animated" data-wow-delay="0.2s">It is for my family</div>
                <div class="intro-foo wow fadeInLeft animated" data-wow-delay="0.4s">Time for a new challenge</div>
              </div>
            </div>
          </div>
          <div class="item">
            <!-- <img src="frontend/images/home-banner.jpg" style="width:100%;"> -->
            <div class="intro-text">
              <div class="container">
                <div class="intro-lead-in wow fadeInLeft animated">I am fed up at the office</div>
                <div class="intro-heading wow fadeInRight animated" data-wow-delay="0.2s">I am a born entrepreneur</div>
                <div class="intro-foo wow fadeInLeft animated" data-wow-delay="0.4s">I would like to invest</div>
              </div>
            </div>
          </div>
          <div class="item">
            <!-- <img src="frontend/images/home-banner.jpg" style="width:100%;"> -->
            <div class="intro-text">
              <div class="container">
                <div class="intro-lead-in wow fadeInLeft animated">It's to complement my existing business</div>
                <div class="intro-heading wow fadeInRight animated" data-wow-delay="0.2s">It's for my migration program</div>
                <div class="intro-foo wow fadeInLeft animated" data-wow-delay="0.4s">It is hard to find a job</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end banner -->
  <!-- start section-1 -->
  <section id="features" class="commn_outr">
    <div class="container">
      <!-- <div class="commn-hdr white-txt wow fadeInDown animated" data-wow-delay="0.4s">
					<h3>Features</h3>
					
					</div> -->
      <div class="features-body clearfix">
        <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp animated" data-wow-delay="0.2s">
          <div class="review_profile_img">
            <div class="review_profile_imgc"><img src="frontend/images/featured-img1.jpg"></div>
            <!-- <p>Lorem Ipsum is simply dummy text of the prin ting and typesetting industry.</p> -->
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp animated" data-wow-delay="0.4s">
          <div class="review_profile_img">
            <div class="review_profile_imgc"><img src="frontend/images/featured-img2.jpg" alt=""></div>
            <!-- <p>Lorem Ipsum is simply dummy text of the prin ting and typesetting industry.</p> -->
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp animated" data-wow-delay="0.6s">
          <div class="review_profile_img">
            <div class="review_profile_imgc"><img src="frontend/images/featured-img3.jpg" alt=""></div>
            <!-- <p>Lorem Ipsum is simply dummy text of the prin ting and typesetting industry.</p> -->
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp animated" data-wow-delay="0.6s">
          <div class="review_profile_img">
            <div class="review_profile_imgc"><img src="frontend/images/featured-img4.jpg" alt=""></div>
            <!-- <p>Lorem Ipsum is simply dummy text of the prin ting and typesetting industry.</p> -->
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp animated" data-wow-delay="0.6s">
          <div class="review_profile_img">
            <div class="review_profile_imgc"><img src="frontend/images/featured-img5.jpg" alt=""></div>
            <!-- <p>Lorem Ipsum is simply dummy text of the prin ting and typesetting industry.</p> -->
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp animated" data-wow-delay="0.6s">
          <div class="review_profile_img">
            <div class="review_profile_imgc"><img src="frontend/images/featured-img6.jpg" alt=""></div>
            <!-- <p>Lorem Ipsum is simply dummy text of the prin ting and typesetting industry.</p> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section-1 -->
  <!-- start section-2 -->
  <section id="buying-sec" class="commn_outr">
    <div class="container">
      <div class="commn-hdr white-txt wow fadeInDown animated" data-wow-delay="0.4s">
        <h3>How buying works you ask?</h3>
      </div>
      <div class="buying-body clearfix">
        <div class="col-lg-4 col-sm-4 col-xs-12 buying-innerbdy-border wow fadeInUp animated" data-wow-delay="0.2s">
          <div class="buying-innerbdy">
            <img src="frontend/images/bodyview-icon1.png">
            <h4>Inquiry</h4>
            <p>Sign a Confidentiality Agreement to gather and analyse information about the business. Make an offer
              when you are ready.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 buying-innerbdy-border wow fadeInUp animated" data-wow-delay="0.4s">
          <div class="buying-innerbdy">
            <img src="frontend/images/bodyview-icon2.png">
            <h4>Due Diligence</h4>
            <p>A deposit will be held in a Trust Account to allow the buyer to ask and learn the “behind the scenes” of
              the business and validate the information provided.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 buying-innerbdy-border wow fadeInUp animated" data-wow-delay="0.6s">
          <div class="buying-innerbdy">
            <img src="frontend/images/bodyview-icon3.png">
            <h4>Enter Contracts</h4>
            <p>Both parties work together to satisfy the contract conditions. When all conditions are satisfied and
              lifted, the parties can proceed to settlement.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End section-2 -->
  <!-- start section-3 -->
  <section id="testimonials-sec" class="commn_outr">
    <div class="container">
      <div class="commn-hdr white-txt wow fadeInDown animated" data-wow-delay="0.4s">
        <h3>Testimonials</h3>
      </div>
      <div class="customer_slide testimonial_mainslider testmonilamrgn wow fadeInUp animated" data-wow-delay="0.4s">
        <div class="item">
          <div class="customer_slidein">
            <div class="cust_dtlsout text-center">
              <div class="cm-testimonial__info ">
                <div class="cm-testimonial__author ">Cindy</div>
                <div class="cm-testimonial__company ">July 2018</div>
              </div>
            </div>
            <div class="cust_contet">
              <div class="testricon-overlay text-left"><i class="fa fa-quote-left"></i></div>
              <div class="cust_innercontent">
                <p>每次别人问我怎么买的，我都很高兴地要把你介绍给他们。感觉找了一个喜欢的工作，又多认识了很多朋友</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="customer_slidein custom_active">
            <div class="cust_dtlsout text-center">
              <div class="cm-testimonial__info ">
                <div class="cm-testimonial__author ">Pradip</div>
                <div class="cm-testimonial__company ">Oct 2017</div>
              </div>
            </div>
            <div class="cust_contet">
              <div class="testricon-overlay text-left"><i class="fa fa-quote-left"></i></div>
              <div class="cust_innercontent">
                <p>Jack is fair. Fair to the seller and fair to us as a buyer. That is why we trust him.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="customer_slidein">
            <div class="cust_dtlsout text-center">
              <div class="cm-testimonial__info ">
                <div class="cm-testimonial__author ">Eric</div>
                <div class="cm-testimonial__company ">Oct 2018</div>
              </div>
            </div>
            <div class="cust_contet">
              <div class="testricon-overlay text-left"><i class="fa fa-quote-left"></i></div>
              <div class="cust_innercontent">
                <p>Rooney对待客户非常上心，认真负责，对交易中的细节细致入微。实事求是，没有夸大其词，非常熟悉业务。作为中间人，很好地起到了协助双方达成交易的作用。感谢Rooney促成我人生中第一个生意。五星好评，值得推荐.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="customer_slidein">
            <div class="cust_dtlsout text-center">
              <div class="cm-testimonial__info ">
                <div class="cm-testimonial__author ">Gayan</div>
                <div class="cm-testimonial__company ">Oct 2018</div>
              </div>
            </div>
            <div class="cust_contet">
              <div class="testricon-overlay text-left"><i class="fa fa-quote-left"></i></div>
              <div class="cust_innercontent">
                <p>Jack is one of the BEST business brokers in Sydney. Professionally is "AAA" rated. Jack follows the
                  sale process of the business end to end and ensures a high level of communication is maintained
                  between all stakeholders till the settlement is complete.I would highly recommend Jack for any merger
                  and acquisition process.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="customer_slidein">
            <div class="cust_dtlsout text-center">
              <div class="cm-testimonial__info ">
                <div class="cm-testimonial__author ">William </div>
                <div class="cm-testimonial__company ">Dec 2018</div>
              </div>
            </div>
            <div class="cust_contet">
              <div class="testricon-overlay text-left"><i class="fa fa-quote-left"></i></div>
              <div class="cust_innercontent">
                <p>Rooney是一个非常值得信赖的人。不仅对我们购买生意提供了非常大的帮助，而且在购买生意之后，也经常提供非常有用的经营建议。如果有机会，我会向我的朋友推荐Rooney.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="customer_slidein">
            <div class="cust_dtlsout text-center">
              <div class="cm-testimonial__info ">
                <div class="cm-testimonial__author ">Arvind</div>
                <div class="cm-testimonial__company ">Jan 2018</div>
              </div>
            </div>
            <div class="cust_contet">
              <div class="testricon-overlay text-left"><i class="fa fa-quote-left"></i></div>
              <div class="cust_innercontent">
                <p>Jack knows exactly what and when things need to be done. He provides a clear guidance and
                  communication.So I always knew and could ask him for advice.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="customer_slidein">
            <div class="cust_dtlsout text-center">
              <div class="cm-testimonial__info ">
                <div class="cm-testimonial__author ">Bryan</div>
                <div class="cm-testimonial__company ">Nov 2018</div>
              </div>
            </div>
            <div class="cust_contet">
              <div class="testricon-overlay text-left"><i class="fa fa-quote-left"></i></div>
              <div class="cust_innercontent">
                <p>Jack is one of decent person with a broad range of experience of business, both as a friend and a
                  partner. The level of service and care provided to client is absolutely top notch, his integrity and
                  diligent is really impressed me from past. I am looking forward to.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- start section-4 -->
  <section id="contact-sec" class="commn_outr">
    <div class="container">
      <div class="col-lg-6 col-sm-6 col-xs-6 text-left">
        <div class="contact-head wow fadeInDown animated" data-wow-delay="0.4s">
          <h3>Can’t find what you want? Let us call you back</h3>
        </div>
        <div class="contactform_body company_logo_txt wow fadeInLeft" data-wow-delay="0.4s">
          <form>
            <div class="col-sm-12 col-md-12">
              <div class="contact-form">
                <input type="text" name="name" placeholder="Name">
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="contact-form">
                <input type="phone" name="phone-number" placeholder="Phone">
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="contact-form">
                <textarea name="message" placeholder="What this is About?"></textarea>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="contact-form">
                <p class="sdf">Jack or Rooney will call you back within 24 hours.</p>
              </div>
            </div>
            <div class="col-md-12 col-sm-12" style="margin-top: 15px;">
              <a href="#" class="button buy-now sendbtn contform-btm">Request a Call Back</a>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 col-xs-6 imgzoom text-left wow fadeInUp" data-wow-delay="0.6s">
        <img src="frontend/images/contact-sideimg.png">
      </div>
    </div>
  </section>
  <!-- start section-4 -->
 <% include ./partials/footer %>